@model Certitrack.ViewModels.CredentialDetailVM
@{
    ViewData["Title"] = "Insert Certificate Detail Page";
    Layout = "_MenuLayout";
}

<body>
    
	<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Insert Certificate Detail</a></li>
			<li class="breadcrumb-item active">Insert Certificate Detail</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">User <small></small></h1>
			<!-- end page-header -->
		
			<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Insert Certificate Detail</h4>
					<div class="panel-heading-btn">
						
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					@if (ViewBag.Message != null)
					{
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							@ViewBag.Message
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					}

					
					<form id="InserCredentialForm" asp-action="Create" method="post">

						@if (!ViewData.ModelState.IsValid)
						{
							@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
						}

						<div class="form-group row m-b-15">
							<label asp-for="HolderFirstName" class="col-form-label col-md-3">First Name</label>
							<div class="col-md-9">
								<input asp-for="HolderFirstName" class="form-control m-b-5" placeholder="First Name" />
								<span asp-validation-for="HolderFirstName" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="HolderMiddleName" class="col-form-label col-md-3">Middle Name</label>
							<div class="col-md-9">
								<input asp-for="HolderMiddleName" class="form-control m-b-5" placeholder="Middle Name" />
								<span asp-validation-for="HolderMiddleName" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="HolderLastName" class="col-form-label col-md-3">Last Name</label>
							<div class="col-md-9">
								<input asp-for="HolderLastName" class="form-control m-b-5" placeholder="Last Name" />
								<span asp-validation-for="HolderLastName" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="HolderAddress" class="col-form-label col-md-3">Address</label>
							<div class="col-md-9">
								<input asp-for="HolderAddress" class="form-control m-b-5" placeholder="Address" />
								<span asp-validation-for="HolderAddress" class="text-danger"></span>
							</div>
						</div>
						@* <div class="form-group row m-b-15">
							<label asp-for="HolderAddress" class="col-form-label col-md-3"></label>
							<div class="col-md-9">
								<input asp-for="HolderAddress" class="form-control m-b-5" placeholder="Present Address" />
								<span asp-validation-for="HolderAddress" class="text-danger"></span>
							</div>
						</div> *@
						<div class="form-group row m-b-15">
							<label asp-for="HolderPhoneNumber" class="col-form-label col-md-3">Phone No.</label>
							<div class="col-md-9">
								<input asp-for="HolderPhoneNumber" class="form-control m-b-5" placeholder="Phone No." />
								<span asp-validation-for="HolderPhoneNumber" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="HolderEmail" class="col-form-label col-md-3">Email</label>
							<div class="col-md-9">
								<input asp-for="HolderEmail" class="form-control m-b-5" placeholder="Email" />
								<span asp-validation-for="HolderEmail" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="InstitutionId" class="col-form-label col-md-3">Requesting Organisation </label>
							<div class="col-md-7">
								<select asp-for="InstitutionId" class="form-control m-b-5" asp-items='new SelectList(ViewBag.institutions, "Id", "Name")'>
									<option value="">-- Select Organisation --</option>
								</select>
								<span asp-validation-for="InstitutionId" class="text-danger"></span>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-sm btn-success" onclick="addNewItem('InstitutionId')">+ Add</button>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="SchoolId" class="col-form-label col-md-3">School</label>
							<div class="col-md-7">
								<select asp-for="SchoolId" class="form-control m-b-5" asp-items='new SelectList(ViewBag.schools, "Id", "Name")'>
									<option value="">-- Select School --</option>
								</select>
								<span asp-validation-for="SchoolId" class="text-danger"></span>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-sm btn-success" onclick="addNewItem('SchoolId')">+ Add</button>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="Faculty" class="col-form-label col-md-3">Faculty/School/College</label>
							<div class="col-md-7">
								<select asp-for="Faculty" class="form-control m-b-5" asp-items='new SelectList(ViewBag.faculties, "Id", "Name")'>
									<option value="">-- Select Faculty/School/College --</option>
								</select>
								<span asp-validation-for="Faculty" class="text-danger"></span>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-sm btn-success" onclick="addNewItem('Faculty')">+ Add</button>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="Department" class="col-form-label col-md-3">Department</label>
							<div class="col-md-7">
								@* <input asp-for="Department" class="form-control m-b-5" placeholder="Department" /> *@
								<span asp-validation-for="Department" class="text-danger"></span>
								<select asp-for="Department" class="form-control m-b-5" asp-items='new SelectList(ViewBag.Departments, "Name", "Name")'>
									<option value="">-- Select Department --</option>
								</select>
								<span asp-validation-for="Department" class="text-danger"></span>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-sm btn-success" onclick="addNewItem('Department')">+ Add</button>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="Degree" class="col-form-label col-md-3">Qualification Type</label>
							<div class="col-md-7">
								<select asp-for="Degree" class="form-control m-b-5" asp-items='new SelectList(ViewBag.qualificationTypes, "Id", "Name")'>
									<option value="">-- Select Qualification Type --</option>
								</select>
								<span asp-validation-for="Degree" class="text-danger"></span>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-sm btn-success" onclick="addNewItem('Degree')">+ Add</button>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="DegreeClass" class="col-form-label col-md-3">Qualification Class</label>
							<div class="col-md-7">
								<select asp-for="DegreeClass" class="form-control m-b-5" asp-items='new SelectList(ViewBag.qualificationClasses, "Id", "Name")'>
									<option value="">-- Select Qualification Class --</option>
								</select>
								<span asp-validation-for="DegreeClass" class="text-danger"></span>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-sm btn-success" onclick="addNewItem('DegreeClass')">+ Add</button>
							</div>
						</div>

						<div class="form-group row m-b-15">
							<label asp-for="CertificateNo" class="col-form-label col-md-3">Certificate No.</label>
							<div class="col-md-9">
								<input asp-for="CertificateNo" class="form-control m-b-5" placeholder="Certificate No." />
								<span asp-validation-for="CertificateNo" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="CertificateNo" class="col-form-label col-md-3">Matric No.</label>
							<div class="col-md-9">
								<input asp-for="MatricNo" class="form-control m-b-5" placeholder="Matric No." />
								<span asp-validation-for="MatricNo" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label asp-for="YearOfGraduation" class="col-form-label col-md-3">Year of Graduation</label>
							<div class="col-md-9">
								<input asp-for="YearOfGraduation" class="form-control m-b-5" placeholder="Year of Graduation" />
								<span asp-validation-for="YearOfGraduation" class="text-danger"></span>
							</div>
						</div>

						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3"></label>
							<div class="col-md-9">
								<!-- Trigger Disclaimer Modal -->
								<button type="button" class="btn btn-warning btn-lg m-r-5" data-toggle="modal" data-target="#disclaimerModal">
									Read Disclaimer
								</button>

								<!-- Submit Button (disabled by default) -->
								<button id="submitBtn" type="submit" class="btn btn-primary btn-lg" disabled>
									Submit
								</button>
							</div>
						</div>
						
						
					</form>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
			
		</div>
			
		</div>
		<!-- end #content -->

	<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						Note: I <span id="fullNamePlaceholder" class="font-weight-bold text-primary">........................................................</span> aver that in the event that any of the above
						information is found to be wrong or incorrect, the Certitrack shall not be held liable for any action or damages
						that arises from the reliance on the same. I understand that the information supplied above forms the fundamental
						basis upon which verification will be done and I will be solely responsible for any mishap. I certify that I have
						obtained and submitted to Certitrack all the requisite information from my client and I have my client’s
						authority to carry out the verification.
					</p>
				</div>
				<div class="modal-footer">
					<button id="acceptDisclaimerBtn" type="button" class="btn btn-success" data-dismiss="modal">
						I Understand & Accept
					</button>
				</div>
			</div>
		</div>
	</div>
    
</body>
@* 
</div> *@
<!-- Modal for adding new item -->
<!-- Modal for adding new item -->
<!-- Add Item Modal 
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<form id="addItemForm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New <span id="itemTypeName"></span></h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div id="institutionTypeGroup" class="form-group d-none">
						<label for="institutionTypeId">Institution Type</label>
						<select id="institutionTypeId" class="form-control">
							<option value="">-- Select Type --</option>
							@foreach (var type in ViewBag.InstitutionTypes)
							{
								<option value="@type.Id">@type.Name</option>
							}
						</select>
					</div>
					<div class="form-group">
						<label for="itemName">Name</label>
						<input type="text" class="form-control" id="itemName" required />
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
</div>-->
<!-- Add Item Modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<form id="addItemForm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New <span id="itemTypeName"></span></h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div id="institutionTypeGroup" class="form-group d-none">
						<label for="institutionTypeId">Institution Type</label>
						<select id="institutionTypeId" class="form-control">
							<option value="">-- Select Type --</option>
							@foreach (var type in ViewBag.InstitutionTypes)
							{
								<option value="@type.Id">@type.Name</option>
							}
						</select>
					</div>
					<div id="schoolTypeGroup" class="form-group d-none">
						<label for="schoolTypeId">School Type</label>
						<select id="schoolTypeId" class="form-control">
							<option value="">-- Select Type --</option>
							@foreach (var type in ViewBag.SchoolTypes)
							{
								<option value="@type.Id">@type.Name</option>
							}
						</select>
					</div>
					<div class="form-group">
						<label for="itemName">Name</label>
						<input type="text" class="form-control" id="itemName" required />
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>




@section Scripts {
	<!-- JavaScript to enable submit button -->
	<script>
		$('#disclaimerModal').on('show.bs.modal', function () {
			//alert('disclamer');
				const firstName = $('#HolderFirstName').val().trim();
				const middleName = $('#HolderMiddleName').val().trim();
				const lastName = $('#HolderLastName').val().trim();

				const fullName = [firstName, middleName, lastName].filter(Boolean).join(' ');
				$('#fullNamePlaceholder').text(fullName || "........................................................");
			});

		document.getElementById('acceptDisclaimerBtn').addEventListener('click', function () {
			document.getElementById('submitBtn').disabled = false;
		});
	</script>

	<script>
		
		function capitalizeFirstLetter(string) {
			if (!string) return '';
			if (string.toLowerCase().endsWith('Id')) {
				string = string.slice(0, -2);
			}
			return string.charAt(0).toUpperCase() + string.slice(1);
		}

		let currentType = '';

		function addNewItem(type) {
			currentType = type;
			//alert('currentType '+currentType)
			const label = capitalizeFirstLetter(type);
			$('#itemTypeName').text(label);
			//alert(type);
			if (type.toLowerCase() === 'institutionid') {
				$('#institutionTypeGroup').removeClass('d-none');
			} else {
				$('#institutionTypeGroup').addClass('d-none');
			}

			if (type.toLowerCase() === 'schoolid') {
				$('#schoolTypeGroup').removeClass('d-none');
			} else {
				$('#schoolTypeGroup').addClass('d-none');
			}

			$('#itemName').val('');
			$('#addItemModal').modal('show');
		}

		$('#addItemForm').submit(function (e) {
			e.preventDefault();

			const name = $('#itemName').val();
			const institutionTypeId = $('#institutionTypeId').val();
			const schoolTypeId = $('#schoolTypeId').val();

			let url = '';
			const dropdownId = `#${currentType}`;

			switch (currentType.toLowerCase()) {
				case 'institutionid':
					url = '/Lookup/CreateInstitution';
					break;
				case 'schoolid':
					url = '/Lookup/CreateSchool';
					break;
				case 'faculty':
					url = '/Lookup/CreateFaculty';
					break;
				case 'department':
					url = '/Lookup/CreateDepartment';
					break;
				case 'degree':
					url = '/Lookup/CreateQualificationType';
					break;
				case 'degreeclass':
					url = '/Lookup/CreateQualificationClass';
					break;
			}

			const data = { name };
			if (currentType.toLowerCase() === 'institutionid') {
				data.institutionTypeId = institutionTypeId;
				//alert('assign point institution '+data.institutionTypeId);
			}
            if (currentType.toLowerCase() === 'schoolid') {
                data.schoolTypeId = schoolTypeId;
				//alert('assign point school '+data.schoolTypeId);
            }

			$.post(url, data)
				.done(function (response) {
					$(dropdownId).append(new Option(response.name, response.id, true, true));
					$('#addItemModal').modal('hide');
				})
				.fail(function () {
					alert('Failed to add item. Check if it already exists.');
				});
		});

	</script>
}


